/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    height: 100%;
}

/* MY STYLE */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 60px;
}

main {
    flex-grow: 1;
    background: #7FFFD4;
}

footer {
    min-height: 40px;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.header_content, .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_wrapper h1 {
    font-size: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.select_button_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

#select_difficulty {
    width: 120px;
}

.select_button_wrapper button {
    padding: 0 20px;
}

.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    background: white;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 1px solid black;
}

.footer_content h5 {
    font-weight: normal;
}